
<main class="profile-page" >
    <section class="section-profile-cover section-shaped section-shaped my-0"  style="background-image:  url('./assets/img/brand/backblue.jpg');">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>


    <section class="section">
      <div class="container">
        <div class="card01 card-profile shadow mt--300">

                  <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                      <ngb-tab>
                        <ng-template ngbTabTitle >  
                            <div class="container py-lg-md d-flex">
                              <div class="col px-0">
                                <div class="row" style="align-items: center;">
                                   <form class="form-inline waves-light" mdbWavesEffect style="margin-left: 25%;">
                                    <div class="mb-3" style="text-align: center;">
                                      <small class="text-uppercase font-weight-bold"> <h1 style="color:white;">La liste des urgences </h1></small>
                                    </div>
                                    <div class="row" >
                                      <div class="input-group input-group-alternative mb-2 mr-2">
                                              <div class="form-group">
                                       
                                             <select id="select-state" (change)="onChange($event.target.value)" class="btn btn-lg btn-primary btn-icon mb-3 mb-sm-0"  placeholder="Région">
                                               <option *ngFor="let x of listRegions" [value]="x">{{x}}</option>
                                             </select>
                                            </div>
                                          </div>
                                          
                                          <div class="form-group">
                                            <div class="input-group input-group-alternative mb-2">
                                              <input class="form-control" (input)="onSearchChange($event.target.value)" placeholder="Recherches" type="text">
                                              <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                                              </div>
                                            </div>
                                          </div>
                                        
                                        </div>
                                      
                                  </form>
                                
                                  </div>
                                  
                                
                              </div>
                              
                            </div>
                        </ng-template>
                        <div class="row">
                          <div id="map" ></div>
                        </div>
                          <ng-template ngbTabContent>
                            <div class="row">
                              <div class="card" style="width: 18rem;" *ngFor=" let u of listDataSearch">
                                <img class="card-img-top" src="./assets/img/theme/h2.jpg" alt="Card image cap">
                              
                                <div class="card-body" >
                                  <h5 class="card-title text-center">  {{u.name}} <img  ngbTooltip="disponible" src="https://img.icons8.com/cotton/20/000000/location--v2.png"/></h5>
                                  
                                    <div class="row" style=" margin-left: 18%;">  
                               
                                      <a  href="tel:{{u.phone}}" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="{{u.phone}}">
                                        <i class="fa fa-phone"></i>
                                      </a>
                                    
                                      <a target="_blank" style="color:white;" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round"ngbTooltip="créer votre demande" (click)="open(classic,'' , '')">
                                        <i class="fa fa-pencil-square-o"></i>
                                        <ng-template #classic let-c="close" let-d="dismiss">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h6 class="modal-title text-uppercase" id="modal-title-default">
                                             
                                                    <img src="https://img.icons8.com/external-filled-outline-wichaiwi/45/000000/external-medical-reopening-country-filled-outline-wichaiwi.png"/>
                                                  Créer un demande 
                                               </h6>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                                                <span aria-hidden="true">×</span>
                                              </button>
                                            </div>
                                            <div class="modal-body" style="background-color: rgba(0, 0, 255, 0.283);">
                                              <div class="container">
                                                  <form role="form">
                                                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                                                      
                                                        <div class="row">
                                                          <div class="col-md-6">
                                                            <div class="form-group">
                                                              <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                  <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
                                                                </div>
                                                                <input class="form-control" placeholder="créer votre nom" type="text">
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-6">
                                                            <div class="form-group">
                                                              <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                  <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
                                                                </div>
                                                                <input class="form-control" placeholder="Créer votre prénom" type="text">
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                     
                                                    </div>
                                                    <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                                      <div class="input-group input-group-alternative mb-3">
                                                        <div class="input-group-prepend">
                                                          <span class="input-group-text"><i class="fa fa-phone-square"></i></span>
                                                        </div>
                                                        <input class="form-control" placeholder="Créer votre numéro de télephone" type="tel" (focus)="focus1=true" (blur)="focus1=false">
                                                      </div>
                                                    </div>
                                                    <div class="form-group" [ngClass]="{'focused':focus2===true}">
                                                      <div class="input-group input-group-alternative">
                                                        <div class="input-group-prepend">
                                                          <span class="input-group-text"><i class="fa fa-bars"></i></span>
                                                        </div>
                                                        <input class="form-control" placeholder="créer votre demande" type="text" (focus)="focus2=true" (blur)="focus2=false">
                                                      </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-primary">Envoyé votre demande</button>
                                                      <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Annuler</button>
                                                    </div>
                                                  </form>
                                                </div>
                                                </div>
                                          </div>
                                        </ng-template>
                                      </a>
                                  
                                  <a target="_blank"  class="btn btn-neutral btn-icon-only btn-primary btn-round btn-lg" ngbTooltip="detail"
                                  style="text-align: center; background-color: #091e3eeb; color:white;" (click)="opendetail(detail,'' , '',u.id)">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                    <ng-template #detail let-c="close" let-d="dismiss">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h6 class="modal-title text-uppercase" id="modal-title-default">
                                             Detail
                                           </h6>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">×</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="container">
                                            <section class="sectionph">
                                              <img class="card-img-top" [src]="imgDetails" alt="Card image cap">
                                              
                                                  <div class="px-4">
                                                    <div class="text-center mt-5">
                                                      <h3> {{urgenceDetails[0].name}}l -
                                                        <span class="font-weight-light">{{urgenceDetails[0].regions}} <img src="https://img.icons8.com/cotton/20/000000/location--v2.png"/></span>
                                                      </h3>
                                                      <div class="h6 font-weight-300">
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        {{urgenceDetails[0].address}}    </div>
                                                   
                                                      <div class="h6"> <p class="mb-0">
                                                       
                                                        <i class="fa fa-phone-square" aria-hidden="true"></i>{{urgenceDetails[0].phone}}</p> </div>
                                                      
                                                    </div>
                                                    <div class=" border-top text-center">
                                                      <div class="row justify-content-center">
                                                        <div class="col-lg-9">
                                                          <p>{{urgenceDetails[0].greeting}}</p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>  
                                            </section>
                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button  [routerLink]="['/map']" [queryParams]="{ id: urgenceDetails[0].id}" type="button" class="btn btn-primary" riuter ><i class="fa fa-map-marker" aria-hidden="true"></i>Localisation</button>
                                              <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Annuler</button>
                                            </div>
                                      </div>
                                    </ng-template>
                              
                                  </a>
                                </div>
                              </div>
                            </div>
                         </div>
                          </ng-template>
                      </ngb-tab>
                  </ngb-tabset>
        </div>
      </div>
    </section>
    <section class="section section-lg section-shaped" style="margin-bottom: 0rem;">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-md">
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-6">
            <h3 class="display-3 text-white">Contacter nous
              <span class="text-white"></span>
            </h3>
            <p class="lead text-white">Une suggestion, un problème technique, une remarque
              Contactez nous
              NB: Ce formulaire n'est pas consulté par les médecins, utilisez le uniquement pour contacter l'équipe support.</p>
           
          </div>
          <div class="col-lg-5 mb-lg-auto">
            <div class="transform-perspective-right">
              <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-white pb-5">
               
                  <div class="d-flex flex-column text-center justify-content-start">
                    <h1 class="m-0" style="color: #4978bf !important;"><i class="fa fa-heartbeat" aria-hidden="true"></i>Urgence24</h1>
                  </div>
                 
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-muted text-center mb-3">
                    <small> <h2> Contacter-nous</h2></small>
                  </div>
                  <form role="form">
                    <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                        </div>
                        <input class="form-control" placeholder="votre nom" type="text" (focus)="focus=true" (blur)="focus=false">
                      </div>
                    </div>
                    <div class="form-group" [ngClass]="{'focused':focus1===true}">
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input class="form-control" placeholder="Password" type="password" (focus)="focus1=true" (blur)="focus1=false">
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="créer votre message..."></textarea>
                    </div>
                    <div class="text-center">
                      <button type="button" class="btn btn-default btn-round btn-block btn-lg">Envoyer</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    
  </main>
  