<div class="row">
    <div id="map" ></div>
         <div id="info" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-animate-zoom"> 
        <span onclick="document.getElementById('info').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2 id="ModalTitle">Modal Header</h2>
        <h2 id="Modalid" >Modal Header</h2>
        <h4 id="ModalType">dsqdsqds</h4>
      </header>
      <div class="w3-container">
        <p id="ModalEmail"> Some text..</p>
        <p id="MdalAdresse">Some text..</p>
      </div>
      <footer class="w3-container w3-teal mb-2">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <p id="ModalPhone">(+216) </p>

          </div>
          <div class="col-md-4">
            <button class="btn btn-warning" (click)="gotopage()">View Profil</button>

          </div>
        </div>

      </footer>
    </div>

    </div>

</div>